# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.cproject
.mxproject
.project
.settings/language.settings.xml
.settings/stm32cubeide.project.prefs
ART-PI-TEMPLATES Debug.launch
ART-PI-TEMPLATES.ioc
STM32H750XBHX_FLASH.ld
STM32H750XBHX_RAM.ld
Debug/sources.mk
Debug/objects.mk
Debug/objects.list
Debug/Middlewares/Third_Party/FatFs/src/subdir.mk
Debug/Middlewares/Third_Party/FatFs/src/option/subdir.mk
Debug/makefile
Debug/ART-PI-TEMPLATES.bin
Debug/ART-PI-TEMPLATES.list
Debug/BSP/SPI_FLASH/subdir.mk
Debug/Core/Src/subdir.mk
Debug/Core/Startup/subdir.mk
Debug/Drivers/STM32H7xx_HAL_Driver/Src/subdir.mk
Debug/FATFS/App/subdir.mk
Debug/FATFS/Target/subdir.mk
/Debug/
